anyio
bardapi
beautifulsoup4
blinker
browser-cookie3
cachetools
certifi
charset-normalizer
click
colorama
deep-translator
Flask
google-api-core
google-auth
google-cloud-core
google-cloud-translate
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
langdetect
lz4
MarkupSafe
proto-plus
protobuf
pyasn
pyasn1-modules
pycryptodomex
python-dotenv
requests
rsa
six
sniffio
soupsieve
urllib3
Werkzeug
